<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="notepadplusplus " />
  <package id="7zip" />
  <package id="sysinternals" />
  <package id="filezilla" />
  <package id="virtualbox" />
  <package id="windirstat" />
  <package id="vim" />
  <package id="hg" />
  <package id="tortoisesvn" />
  <package id="winmerge" />
  <package id="gimp" />
  <package id="wireshark" />
  <package id="tortoisehg" />
  <package id="kdiff3" />
  <package id="winscp" />
  <package id="nmap" />
  <package id="pidgin" />
  <package id="InkScape" />
  <package id="Growl" />
  <package id="truecrypt" />
  <package id="FirefoxAurora" />
  <package id="f.lux" />
  <package id="git" />
  <package id="lastpass" />
  <package id="Lua" />
  <package id="python" />
  <package id="python3" />
  <package id="TeraCopy" />
  <package id="console2" />
</packages>
